## [scrapy doc](https://docs.scrapy.org/en/latest/topics/selectors.html)
## [rotmovie site 분석](https://www.rottentomatoes.com/top/bestofrt/?year=2018)

## [selector in xpath?](https://johnresig.com/blog/xpath-css-selectors/)
![image](https://user-images.githubusercontent.com/28910538/54664286-23539a00-4b27-11e9-85dd-d4c7f4551664.png)

### 0. anaconda prompt 통해서 cd ~ scrapy 프로젝트 library root로 지정해 주고
### 1. scrapy shell "url" 통해 특정 url 의 response를 받아옴으로써 xpath 이용해 특정 값들 찾음

### 2. spiders폴더내에 scrapy.Spider를 상속받는 클래스를 만듬, 이부분에서 crawling + scraping
    - name, allowed_domains, start_urls를 설정
    - parse함수를 통해 response를 받아서 crawling
    - yield scrapy.Request(url, callback=특정 func, meta={"year":year, "rank":rank})을 통해 각 url에 대해 scraping
        - 여기서 meta는 dictionary형태로 이전페이지 데이터를 다음 페이지 즉 콜백으로 넘기는 특정 페이지 데이터로 보냄( ?year=year 이런 식으로
    - callback으로 지정해둔 특정 func에서 response를 받고 item(저장할 데이터 자료구조타입 명시해둔 클래스)에 값을 넣어줘서 yield 로 넘김 => 스레드로 처리하는데 이 부분에서느 pip라인으로 넘김
    
### 2-1. xpath 문법
- 절대경로 느낌
- 페이지마다 다를 수 있으니 특정 attribute나 text의 내용을 통해 노드를 가지고 올 수 도있음
- genre의 text들을 가지고오는 부분
- response.xpath('//*[contains(text(), "Genre:")]/following-sibling::div/a/text()').extract()

### 3. item.py에 받을 데이터 필드 지정

### 4. piplines.py 에서 정렬|정리|저장
- 스레드로 처리하기때문에 yield로 받은 item들을 정렬,저장,정리 하거나 함
- process_item부분에서 지정된 한 페이지의 작업량만큼 데이터를 scraping하는데 이부분을 누적해서 저장해주고
- close_spider부분에서 마지막 spider가 종료되고나서의 파일 저장같은 부분을 넣어줌

### 5. settings.py 에서 ITEM_PIPELINES 지정

In [123]:
import pandas as pd
import numpy as np

In [124]:
rt_movie = pd.read_csv("C:/Users/student/PycharmProjects/DataAnalysis/WebCrawling/rt_crawler/df_csv.csv", sep =",", encoding = "utf-8")

In [125]:
rt_movie.head(10)

,year,rank,title,score,genre
0,2015,1,Mad Max: Fury Road,"126,881",Action & Adventure + Science Fiction & Fantasy
1,2015,2,Inside Out,"135,740",Animation + Kids & Family
2,2015,3,Spotlight,"69,804",Drama + Mystery & Suspense
3,2015,4,Selma,"61,256",Drama
4,2015,5,Star Wars: Episode VII - The Force Awakens,"230,359",Action & Adventure + Science Fiction & Fantasy
5,2015,6,Brooklyn,"46,597",Drama
6,2015,7,Creed,"75,595",Drama
7,2015,8,It Follows,"44,514",Horror
8,2015,9,Carol,"29,333",Drama + Romance
9,2015,10,Shaun the Sheep Movie,"22,547",Animation + Comedy

In [122]:
# score는 진짜로 비어있는 값
rt_movie.isna().sum()

year     0
rank     0
title    0
score    7
genre    0
dtype: int64