# SQL(Structured Query Language) 이해
- Query : A query is a question, especially one that you ask an organization, publication, or expert.
- D(S)DL : Create, Alter, Drop, Rename, Trucate, Comment
- DML    : Insert, Update, Delete, Merge, Select
- TCL    : Commit, Rollback, Savepoint
- DCL    : Grant, Revoke
- 트랜잭션(Transaction)
    - DML문의 집합
    - DDL 하나, DCL 하나

##  SQL SELECT 문을 사용하여 데이터 검색
- 검색, 조회, 질의, ...
- 데이터 분석 도구
- 원하는 집합(결과)을 정의(묘사)하는 언어

### select 문장 작성 및 해석 권장 순서(절대 실행 순서 아님)
- select 컬럼, 연산식, 함수, 컬럼 alias, ... -- 4 (필수)
- from 재료집합(테이블, 뷰, 서브쿼리) -- 1 (필수)
- where 조건, ... -- 2
- group by 조건, ... -- 3
- having 조건, ... -- 5
- order by 조건, ... -- 6

### 괄호 영문표현
- [] : Bracket
- {} : Brace
- () : Parentheses

### [SQL statement 작성 지침](https://orapybubu.blog.me/40023835579)

### 연산
- 가공
    - 연산
        - 산술연산
        - 연결연산
        - 논리연산
        - 기타
    - 함수
        - Built-in 함수
            - 단일행 함수
            - 복수행 함수
        - User-defined 함수
            - 단일행 함수
            - 복수행 함수

### NULL
- unavailable, unassigned, unknown, inapplicable, 비워져있는, 미결정, ...
- ≠0
- ≠space
- = null은 null이 나옴
- 산술연산해도, 비교연산해도 null 나옴
- 논리연산
    - and로 하면 False에대해서는 바로 False나오고 True있으면 null
    - or은 하나라도 True있으면 True, Flase는 null로
    - not 연산의 경우 null은 null로
- 즉 아직 어떤 값인지 모르는 상태의 값으로 예측됨

### Column alias
- 3가지 방식
    - 한칸 공백 : sal salary
    - as 사용 : sal as salary
    - "" 사용 : sal "salary"
    
### 연결연산자
- 컬럼 문자 들끼리 연결
- || 통해 연결

### literal
- where절 에서는 조건에 해당
- select절은 쿼리마다 한번 반복

### q 연산자
- '를 문자로 사용하기위해 사용
- q'[]' 같은 형태로 표현하고 대괄호 안에서 '사용
    - []뿐만 아니라 다른 기호라든지 알파벳을 대칭되게만 쓰면 사용 가능
    
### 중복 제거
- unique와 distinct
    - 같은 용도로 사용
- 중복되는 column의 행을 지우기 위해 사용될 수 있음
- column을 여러개 주면 행 단위로 중복제거

## 데이터 제한 및 정렬
### WHERE절 이해
- 후보행(Candidate row)을 검증해서 True, False, Null을 리턴하는 절
- Where절이 True를 리턴해야 후보행이 return됨

### 문자열 및 날짜
- where ename like '_____';
    - ename 이 5글자인
- rtrim() : 공백제거
- to_char(hiredate, "Month') : hredate의 datetpye에서 Month만을 추출

###  Escape 옵션
- _를 문자로보고 찾기 위해
    - where col2 like '%A!_A%' escape '!';
        - !뒤의_는 문자_

### Order By절
- 오름차순 (asc, default임)
    - order by col_name(혹은 숫자) asc
- 내림차순 (desc)
    - order by col_name(혹은 숫자) desc
- select 리스트에 없는 컬럼으로도 정렬 가능
- null은 가장 큰 값으로 취급됨
- 가공한 결과에 의한 Order by
    - order by length(ename), ename 
        - 이름이 짧은 순 + 그 중에서 알파벳 순으로
    - order by to_char(hiredate, 'mm'), hiredate
        - 월이 짧은 순으로 + 그리고 날짜가 빠른 순으로
            - 'mm'을 통해 숫자 month return

## 단일 행 함수

## 복수행 함수
- 행 집합 연산을 수행하여 그룹별로 하나의 결과를 산출

### Group by 절 이해
- select job, sum(sal) from emp group by job;
    - job이 같은 것들을 모아서 sum(sal)



## substr()
- substr(ename, 1, 1) : 첫번째부터 첫번째까지 자름
- substr(ename, 2) : 2번째부터 끝까지

## 조인(Join)
- from절에 테이블이 두 개 이상있어야 함

## decode 함수
- if문 정도로 생각할 수 있음
    - decode(deptno, 10, 'A', 20, 'B', 'Z') ret1, 
    - if deptno == 10 : 'A'  
    elif deptno == 20: 'B'  
    else 'Z'