In [ ]:

# ================
#  R + Oracle
# ================

# # jdk 8 설치 

# # R 설치, RStudio 설치

# # 자료 및 강의

#   - http://www.r-tutor.com/r-introduction
#   - https://www.youtube.com/channel/UCBbH_NiLhu5uXQ74Tf-qQhg/playlists

# # Oracle database using R and RJDBC

#   - https://cafe.naver.com/n1books/12

# # R의 Data Frame을 Oracle 테이블로 만들기

#   mtcars

#   dbWriteTable(conn, "t_mtcars", mtcars)
#   dbReadTable(conn, "T_MTCARS")

# # SQL로 데이터 분석하고 R로 그래프 그리기

#   - https://orapybubu.blog.me/220665290706

# ===========================
#  Python + Oracle
# ===========================

# # cx_Oracle 활용해서 연동하기

#   C:\Users\student> pip install cx_Oracle

#   C:\Users\student> notepad a.py

# import cx_Oracle

# con = cx_Oracle.connect('ace번호/me@70.12.114.184:1521/xe')

# print(con.version)

# con.close()

#   C:\Users\student> python a.py

# # 실습 예제

#   - https://www.oracle.com/webfolder/technetwork/tutorials/obe/db/OOW11/python_db/python_db.htm
#   - https://oracle-base.com/articles/11g/database-resident-connection-pool-11gr1

In [ ]:
# OracleServiceXE
# OracleXETNSListener


# net start
# net stop

# sqlplus / as sysdba

# create user 

# sqlplus / as sysdba


# SQL >
# create user dator
# identified by me;

# SQL >
# grant connect, resource
# to dator;

# SQL >
# conn dator/me

# SQL >
# @ 각자_경로\demobld.sql            <- emp, dept 등 생성
# SQL >
# @ 각자_경로\creobjects.sql 	   <- employees, departments

# C:\Users\student\Desktop\database

In [7]:
# pip install cx_Oracle
import cx_Oracle
conn = cx_Oracle.connect('ace14/me@70.12.114.184:1521/xe')
print(conn.version)
conn.close()

11.2.0.2.0

In [6]:
conn = cx_Oracle.connect('dator/me@localhost:1521/xe')
print(conn.version)
conn.close()

11.2.0.2.0

In [ ]:
conn.