https://www.codewars.com/kata/525f3eda17c7cd9f9e000b39/train/python

seven(times(five())); // must return 35  
four(plus(nine())); // must return 13  
eight(minus(three())); // must return 5  
six(dividedBy(two())); // must return 3

In [18]:
"*0" in ["0","1","2"]

False

In [21]:
type(3) == str

False

In [27]:
"*" is "*35"[0]

True

In [24]:
"*35".split("*")

['', '35']

In [9]:
zero()

0

In [34]:
times(five())

'*5'

In [44]:
five(plus(five()))

10

In [40]:
def calcu(a,num):
    if num[0] is "*":
        return a * int(num.split("*")[1])
    elif num[0] is "+":
        return a + int(num.split("+")[1])
    elif num[0] is "-":
        return a - int(num.split("-")[1])
    elif num[0] is "/":
        if num.split("/")[1] :
            return int(a / int(num.split("/")[1]))
        else :
            return 0
def zero(num = 0): #your code here
    if type(num) != int:
        return calcu(0,num)
    else :
        return num
def one(num = 1): #your code here
    if type(num) != int:
        return calcu(1,num)
    else :
        return num
def two(num = 2): #your code here
    if type(num) != int:
        return calcu(2,num)
    else :
        return num
def three(num = 3): #your code here
    if type(num) != int:
        return calcu(3,num)
    else :
        return num
def four(num = 4): #your code here
    if type(num) != int:
        return calcu(4,num)
    else :
        return num
def five(num = 5): #your code here
    if type(num) != int:
        return calcu(5,num)
    else :
        return num
def six(num = 6): #your code here
    if type(num) != int:
        return calcu(6,num)
    else :
        return num
def seven(num = 7): #your code here
    if type(num) != int:
        return calcu(7,num)
    else :
        return num
def eight(num = 8): #your code here
    if type(num) != int:
        return calcu(8,num)
    else :
        return num
def nine(num = 9): #your code here
    if type(num) != int:
        return calcu(9,num)
    else :
        return num

def plus(num): #your code here
    return "+"+str(num)
def minus(num): #your code here
    return "-"+str(num)
def times(num): #your code here
    return "*"+str(num)
def divided_by(num): #your code here
    return "/"+str(num)